<footer class="footer">
    <div class="footer__wrapper">
        <h2 class="footer__title">- get in touch with us -</h2>
        <p class="footer__desc">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec
            malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
        <div class="footer__social-list">
            <a href="#" target="_blank" class="footer__social-link"><img src="./img/rss-icon.png" alt=""></a>
            <a href="#" target="_blank" class="footer__social-link"><img src="./img/facebook-icon.png" alt=""></a>
            <a href="#" target="_blank" class="footer__social-link"><img src="./img/twitter-icon.png" alt=""></a>
            <a href="#" target="_blank" class="footer__social-link"><img src="./img/dribbble-icon.png" alt=""></a>
            <a href="#" target="_blank" class="footer__social-link"><img src="./img/pinterest-icon.png" alt=""></a>
        </div>
        <div class="footer__contacts">
            <a href="" class="footer__contscts-link"> Moonshine St. 14-05 Light City / </a>
            <a href="tel:+00(123)4567890" class="footer__contscts-link">T. +00 (123) 456 78 90 /</a>
            <a href="mailto:last@email.com" class="footer__contscts-link">first.last@email.com</a>
        </div>
    </div>
</footer>