<header class="header">
    <div class="container">

        <div class="header__wrapper">
            <nav class="header__menu">

                <ul class="header__list">
                    <li><a href="#" class="header__link">home</a></li>
                    <li><a href="#" class="header__link">about us</a></li>
                    <li><a href="#" class="header__link">Our Journal</a></li>
                    <li><a href="#" class="header__link">Projects</a></li>
                    <li><a href="#" class="header__link">news</a></li>
                    <li><a href="#" class="header__link">features</a></li>
                    <li><a href="#" class="header__link">contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__burger-menu--wrapper">
            <div class="header__burger-menu--icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav class="header__burger-menu">
                <ul class="header__burger-menu--list">
                    <li class="header__burger-menu--item"><a href="#" class="header__burger-menu--link">home</a></li>
                    <li class="header__burger-menu--item"><a href="#" class="header__burger-menu--link">about us</a>
                    </li>
                    <li class="header__burger-menu--item"><a href="#" class="header__burger-menu--link">Our Journal</a>
                    </li>
                    <li class="header__burger-menu--item"><a href="#" class="header__burger-menu--link">Projects</a>
                    </li>
                    <li class="header__burger-menu--item"><a href="#" class="header__burger-menu--link">news</a></li>
                    <li class="header__burger-menu--item"><a href="#" class="header__burger-menu--link">features</a>
                    </li>
                    <li class="header__burger-menu--item"><a href="#" class="header__burger-menu--link">contact</a></li>
                </ul>
            </nav>

        </div>
    </div>
</header>