<section class="instagram">
    <div class="container">

        <div class="instagram__text">
            <a class="instagram__text-left" href="">- Latest Instagram Shots</a>
            <a class="instagram__text-right" href="">go to our instagram page -</a>
        </div>
        <div class="instagram__wrap">
            <a href="" class="instagram__item"><img src="./img/inst__1.jpg" alt="" class="instagram__item-img"></a>
            <a href="" class="instagram__item"><img src="./img/inst__2.jpg" alt="" class="instagram__item-img"></a>
            <a href="" class="instagram__item"><img src="./img/inst__3.jpg" alt="" class="instagram__item-img"></a>
            <a href="" class="instagram__item"><img src="./img/inst__4.jpg" alt="" class="instagram__item-img"></a>
        </div>

    </div>
</section>