<section class="main">
    <div class="container">
        <div class="main__img-wrapper">
            <img class="main__img" src="./img/main_img.jpg" alt="img">
        </div>
        <h2 class="main__title">- our Recent posts</h2>
        <div class="main__posts">
            <div class="main__item">
                <img src="./img/post-img 1.jpg" alt="img" class="post__item-img"></img>
                <div class="main__item-text">
                    <h2 class="main__item-title">Aenean Adipiscing Etiam Vestibulum</h2>
                    <p class="main__item-comment">Photography, Journal / 9 Comments</p>
                    <p class="main__item-desc">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                        sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="main__item">
                <img src="./img/post-img 2.jpg" alt="img" class="post__item-img"></img>
                <div class="main__item-text">
                    <h2 class="main__item-title">Aenean Adipiscing Etiam Vestibulum</h2>
                    <p class="main__item-comment">Photography, Journal / 9 Comments</p>
                    <p class="main__item-desc">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                        sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="main__item">
                <img src="./img/post-img 3.jpg" alt="img" class="post__item-img"></img>
                <div class="main__item-text">
                    <h2 class="main__item-title">Aenean Adipiscing Etiam Vestibulum</h2>
                    <p class="main__item-comment">Photography, Journal / 9 Comments</p>
                    <p class="main__item-desc">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                        sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="main__item">
                <img src="./img/post-img 4.jpg" alt="img" class="post__item-img"></img>
                <div class="main__item-text">
                    <h2 class="main__item-title">Aenean Adipiscing Etiam Vestibulum</h2>
                    <p class="main__item-comment">Photography, Journal / 9 Comments</p>
                    <p class="main__item-desc">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare
                        sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>