.footer {
    background-color: #000;

    &__wrapper {
        width: 685px;
        margin: 0 auto;
    }

    &__title {
        @include boldText;
        text-align: center;
        padding-top: 65px;
        color: #fefefe;
    }

    &__desc {
        color: $footer-color-text;
        text-align: center;
        margin-top: 22px;
        line-height: 26px;
    }

    &__social-list {
        display: flex;
        justify-content: center;
        margin-top: 37px;
    }

    &__social-link {
        margin-left: 30px;

        &:first-child {
            margin-left: 0;

        }
    }

    &__contacts {
        display: flex;
        justify-content: center;
        margin-top: 34px;
        padding-bottom: 70px;
    }

    &__contscts-link {
        color: $footer-color-text;
        text-decoration: none;
        display: flex;
        justify-content: space-between;

        &::first-child {
            margin-top: 0;
        }
    }
}