.header {
    &__wrapper {
        width: 810px;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        padding: 45px 0 50px;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        line-height: 2;
        color: #4E4E4E;

        &:hover {
            color: #57A4A4;
        }
    }

    &__burger-menu--wrapper {
        width: 44px;
        height: 38px;
        display: none;
        background-color: #070707;
        cursor: pointer;
        position: fixed;
        top: 22px;
        right: 0px;
    }

    &__burger-menu--icon {
        padding-top: 7px;

        & span {
            display: block;
            width: 18px;
            height: 2px;
            background-color: #fff;
            margin: 4px auto;
            transition: 0.2s;
        }
    }


    &__burger-menu {
        display: none;
        position: fixed;
        top: 60px;
        right: 15px;
    }

    &__burger-menu--item {
        background-color: #F5F5F5;
        padding: 8px 0 0 12px;

        &:hover {
            background-color: #E5E5E5;
        }
    }

    &__burger-menu.open {
        display: none;
        position: fixed;
        top: 60px;
        right: 15px;

    }

    &__burger-menu--list {
        width: 180px;
        height: 210px;
        background-color: #F5F5F5;

        li {
            &:first-child {
                a {
                    color: #57A4A4;
                }
            }
        }


    }

    &__burger-menu--link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;
        color: #4E4E4E;
    }

    &__burger-menu--wrapper {
        &.open {
            &__burger-menu--icon {
                padding-top: 7px;
            }

            span {
                &:nth-child(1) {
                    transform: translateY(6px) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(-6px) rotate(-45deg);
                }
            }

        }
    }
}