.instagram {
    background-color: #f7f7f7;
    min-width: 100%;
    margin-top: 70px;
    padding-bottom: 50px;

    &__wrap-item--img {
        max-width: 100%;
    }

    &__text {
        display: flex;
        justify-content: space-between;
        padding-top: 46px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__text-left {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.38;
        text-transform: uppercase;
        text-decoration: none;
        color: #4E4E4E;
    }

    &__text-right {
        @include boldText;
        text-decoration: none;
        color: #4E4E4E;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        padding: 15px;
    }

    &__item {
        width: 24%;
    }

    &__item-img {
        max-width: 100%;
        max-height: 100%;
    }
}