.main {
  &__img-wrapper {
    display: flex;
    justify-content: center;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    margin-top: 66px;
    padding: 0 15px 0 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;

  }

  &__posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__item {
    display: flex;
    margin-top: 24px;
  }

  &__item-text {
    margin-left: 20px;
  }

  &__item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: #4E4E4E;

  }

  &__item-comment {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
    color: #7C7C7C;

  }

  &__item-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    color: #5C5C5C;

  }
}