@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    .header {
        &__wrapper {
            width: 610px;
        }

        &__link {
            font-size: 11px;
        }

        &__burger-menu {
            display: none;

        }

        &__burger-menu.open {
            display: block;
        }
    }

    .main {
        &__posts {

            display: grid;
            grid-template-columns: 565px;
        }
    }

    .instagram {
        margin-top: 60px;

        &__item {
            width: 33%;

            &:last-child {
                display: none;
            }
        }

        &__text-right {
            display: none;
        }
    }

    .footer {
        &__social-link {
            margin-left: 6px;
        }

        &__title {
            padding-top: 55px;
        }

        &__contscts-link {
            padding-right: 8px;
        }

    }

}

@media (max-width: 767px) {
    .container {
        max-width: 575px;
    }

    .header {
        &__menu {
            display: none;
        }

        &__burger-menu--wrapper {
            display: block;
        }
    }

    .main {
        &__img-wrapper {
            margin-top: 84px;
        }

        &__title {
            margin-top: 38px;
        }
    }

    .instagram {}

    .footer {
        &__contacts {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 320px;
    }

    .main {
        &__posts {
            grid-template-columns: 260px;
        }

        &__item {
            flex-direction: column;
        }

        &__item-title {
            padding-top: 10px;
        }

        &__item-desc {
            display: none;
        }
    }

    .instagram {
        padding-bottom: 42px;

        &__item {
            width: 90%;

            &:nth-child(2),
            &:nth-child(3) {
                display: none;
            }
        }

    }

    .footer {
        &__wrapper {
            width: 300px;
        }

        &__title {
            padding-top: 38px;
            font-size: 14px;
        }

        &__desc {
            font-size: 12px;
            line-height: 20px;
        }

        &__social-list {
            margin-top: 26px;
        }

        &__contacts {
            margin-top: 25px;
            padding-bottom: 47px;
        }

        &__contscts-link {
            padding: 0;
            font-size: 14px;
            line-height: 24px;
        }
    }
}